.header{
    height: 80px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
}
.container-fluid{
    height: 500px;
    width: 100%;
}
.section1st{
    height: 500px;
}
.section2nd{

}
.lists{
    margin-left: 15px;
    margin-top:15px;
}
.alllist a{
    display: block;
}
.footer{
    height: 40px;
    text-align: right;
    margin-right: 20px;

}
#wrapper{
    border: 1px solid #cccccc;
    margin: 30px auto;
    width: 95%;
}
#left-section{
    border: 1px solid #cccccc;
    padding: 0 10px 10px 10px;
    width: 250px;
}
#right-section{
    border: 1px solid #cccccc;
    float: right;
    width: 930px;
    padding: 10px;
}
.form-wrapper input{
    margin-top: 5px;
}
.form-wrapper button{
    width: 92%;
    margin-top: 10px;
}
table{
    width:100%;
}
table tr th{
    background-color: #cccccc; 
}
table tr td,
table tr th{
    border: 1px solid #cccccc;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button{
    background-color: #cccccc;
         color: white;
         padding: 8px 8px;
         display: inline-block;
         font-size: 20px;
         margin-top: 10px;
         cursor: pointer;
         float: right;
         
}